@font-face {
    font-family: 'Spiegel';
    src: url('Assets/Spiegel-Regular.ttf') format('truetype');
}

/* Variables and Base Styles */
:root {
    --font-primary: Spiegel, Arial, "Arial Narrow", sans-serif;
    --line-height-standard: 1.15;
    --color-primary: #111111;
    --color-secondary: #f7f7f7;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    line-height: var(--line-height-standard);
    text-align: center;
    background-color: #f2f2f2;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    position: static;
}

.hidden {
    display: none;
}

/* Navigation Styles */
.navbar {
    background-color: var(--color-primary);
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height: 30px;
}

.lol-logo {
    height: 35px;
    margin-left: 20px;
}

#riotLogo:hover {
    content: url("Assets/Riot Games logo (Red).png");
}

.navbar-right-logo {
    height: 45px;
    margin-right: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
    background-color: #FAFAFA;
    padding: 20px 40px; /* Added horizontal padding for a little spacing */
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center; /* This ensures that all content is centered horizontally */
  }  

  .popup-content img, .popup-content h2, .popup-content p {
    align-self: center;
  }  

  #introPopup .popup-content img {
    width: 80%; /* This will make the image stretch to the full width of its container. Adjust the percentage as needed. */
    max-width: 500px; /* This will ensure the image doesn't grow beyond 500 pixels wide. Adjust as needed. */
    height: auto; /* This ensures that the image maintains its original aspect ratio. */
    margin: 20px 0; /* This gives a space above and below the image. Adjust the values as needed. */
    display: block; /* This makes the image a block-level element, useful for centering using margins. */
}


/* Question Card Styles */
.question-card, .champion-recommendation, #endScreen {
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 500px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-progress {
    height: 4px;  /* Adjust the height as needed */
    background-color: #E5E5E5; /* This will serve as the background indicating the total length */
    position: relative;  /* For positioning the inner bar */
    margin-bottom: 1px; /* Space between the progress bar and question */
}

.progress-bar {
    height: 100%;
    background-color: #00C853; /* Green color, adjust as needed */
    width: 0%;  /* Initial state, no progress */
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.3s;  /* For a smooth transition effect */
}

.question-text {
    display: flex;
    align-items: center; /* For vertical alignment */
    justify-content: center; /* For horizontal alignment, if desired */
    margin: 10px 10px 10px 10px;  /* top, right, bottom, left */
    min-height: 70px; /* Replace X with the minimum desired height of the question-text area. */
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 100%;  /* This maintains a 1:1 aspect ratio */
    background: url('Assets/placeholder\ video.png') center center no-repeat;
    background-size: cover;
}

.question-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);  /* For centering */
    width: 90%; /* Set to 90% of the container */
    height: 100%;
}

.options button, .options-button {
    margin: 20px 10px 10px 0;  /* top, right, bottom, left */
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    transition: 0.3s ease;
    border-radius: 4px;
}

.options button:hover, .options-button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);  /* Adding a thin black border on hover */
}

.question-card, .question-video {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in-out; /* Matches your fade-out duration */
}

#endScreen {
    transition: opacity 0.6s ease-in-out;
}

.champion-recommendation h2, #endScreen h2 {
    font-size: 20px;
    color: var(--color-secondary);  /* Using the secondary color for sub-headings for a consistent theme */
}

#topChampions {
    display: flex;
    flex-direction: column;
    align-items: center;  /* This centers the .champion-list horizontally */
    background: #e5ffe3;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}

#topChampions .champion-list {
    width: 250px;  /* This will ensure the container wraps around its content */
    text-align: left;  /* This will left-align the items inside */
}

#topChampions .champion {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 3px;
}

.ranking {
    font-size: 24px;
    margin-right: 10px;
    color: var(--color-primary);
    width: 30px; /* This sets a specific width */
    display: inline-block; /* To make sure width is applied correctly */
    text-align: center; /* To align the numbers to the right within their space, ensuring alignment */
}

.champion-logo {
    width: 50px;
    height: 50px;
    margin-left: 5px; /* Add or reduce the margin-left if needed */
}

.champion-name {
    font-size: 25px;
    color: var(--color-primary);
    margin-left: 10px;
    min-width: 140px; /* Replace with the width that corresponds to the longest champion name */
    display: inline-block; /* Makes sure that the min-width is respected */
}

.separator {
    border: none;
    height: 1px;
    background-color: #D0D0D0; /* Soft grey */
    margin: 20px 0;
}

#nextChampions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This will center the items within the container */
}

#nextChampions .champion {
    width: 45%; /* Slightly less than half to account for potential margin/padding */
    text-align: center;
    margin-bottom: 15px;
    flex: 0 0 50%; /* This ensures each champion takes up half the width, making it 2 columns */
    box-sizing: border-box; /* This makes sure padding and border are included in the width */
}

#nextChampions {
    background: #fffeed;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0; /* Adjust for space above and below */
}

.champion-section-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 1px;  /* Adjust this value to decrease the margin above the title */
}

.champion-section-description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.champion-entry {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0;
}

.champion-entry a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.champion-ranking {
    font-size: 1.5em;
    margin-right: 15px; /* Adjust as needed */
}


/* Added a main container style. You can wrap your main content with a div of this class */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;  /* Slight padding on left and right for small screens */
}

/* Media query for tablet and mobile screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .navbar {
        flex-direction: column;  /* Stack items vertically for smaller screens */
        padding: 15px 10px;  /* Reduced padding for smaller screens */
    }

    .navbar-logo, .lol-logo, .navbar-right-logo {
        margin-bottom: 10px;  /* Add a margin at the bottom to separate items */
    }

    .navbar-right-logo {
        display: none;  /* This will hide the navbar-right-logo on small screens */
    }

    .question-card, .champion-recommendation, #endScreen {
        width: 80%;  /* Make these elements full width for smaller screens */
        height: auto;
        box-shadow: none;  /* Optionally, you can remove the shadow for a cleaner look on mobile */
    }

    .question-text {
        font-size: 25px;  /* Reduce font size slightly for small screens */
    }

    .question-video {
        width: 90%;  /* It's already 90%, but we can keep it for clarity */
        position: absolute;  /* Keep it absolute positioned */
        left: 50%;  
        transform: translateX(-50%);  
        height: auto;  /* Let the video decide its height based on its intrinsic aspect ratio */
    }

    .video-container {
        padding-top: 100%;  /* This maintains the 1:1 aspect ratio */
        background: url('Assets/placeholder\ video.png') center center no-repeat;
        background-size: cover;
    }

    .options button {
        margin: 10px 5px;  /* Reduced margin for buttons */
    }
   
    #nextChampions .champion {
        flex: 0 0 100%; /* Full width for small screens */
    }
}